* {
    margin: 0;
}

.bg {
    background-image: cover;
}

.background img {
    height: 100%;
    width: 100%;
    position: fixed;
}

.background {
}

.heading {
    position: relative;
    top: 5px;
    left: 5px;
    color: black;
    margin: 0;
}

.text {
    position: fixed;
}


/* Projects links styling*/
.links {
    position: fixed;
}

.links-list {
    position: relative;
    top: 50px;
    left: 5px;
}

.links-list li {
    line-height: 30px;
    list-style: none;
}

.links-list li a {
    color: black;
}

.links-list li a:hover {
    transition: 0.2s ease-in-out;
    color: blue;
}